<app-hero-section [mainText]="mainText" [secondText]="secondText"></app-hero-section>
<h2>Numeri Pari</h2>
    <div *ngFor="let num of counter">
      <p *ngIf="num % 2 == 0">{{ num }}</p>
    </div>
<h2>Numeri Dispari</h2>
    <div *ngFor="let num of counter">
      <p *ngIf="num % 2 != 0">{{ num }}</p>
    </div>


